@font-face {
  font-family: "Inria Sans";
  src: url("assets/fonts/InriaSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inria Serif";
  src: url("assets/fonts/InriaSerif-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body{
  font-family:Inria Serif, serif;
}

h2{
  background-color:coral;
  font-family:Inria Sans, sans-serif;
}

h3{
font-family:Inria Sans, sans-serif;
background-color:bisque;
width:200px;
}

h4{
  font-family:Inria Sans, sans-serif;
}

